<div class="uk-margin uk-width-3xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <table class="uk-table">
    <caption>
      Member Accounts
    </caption>
    <thead class="uk-text-center">
      <th>email</th>
      <th>Admin</th>
      <th>Name</th>
      <th>Actions</th>
    </thead>
    <tbody class="uk-text-left">
      {{#each allUsers}}

        <tr>
          <td> {{email}} </td>
          <td> {{admin}} </td>
          <td> {{firstName}} {{lastName}} </td>
          <td>
            <div class="uk-column-1-2">
              <form  class="uk-form-stacked uk-text-left" action="/toggleAdmin" method="POST">
                <div class="uk-margin">
                  <button name="id" class="submit uk-button uk-button-primary uk-button-small uk-width-1-1">Admin </button>
                  <input type="hidden" name="_id" value="{{_id}}" type="text">
                </div>
              </form>


              <form action="/adminDeleteAccount/{{_id}}" method="POST">
                <div class="uk-margin">
                  <button class="uk-button uk-button-danger uk-button-small uk-width-1-1"
                    onclick="return confirm('Are you sure you want to DELETE member\nCANNOT be reversed?')">Delete
                    <input type="hidden" name="id" value="{{_id}}" type="text">
                  </button>
                </div>
              </form>
            </div>
          </td>
        </tr>

      {{/each}}
    </tbody>
  </table>
</div>