<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <table class="uk-table">
    <caption>
      ANALYTICS
    </caption>
    <thead class="uk-text-Ccenter">
      <th>Total Hives</th>
      <th>Super Hives</th>
      <th>National Hives</th>
      <th>Total members</th>
      <th>Total Admin Members</th>
    </thead>
    <tbody class="uk-text-center">


        <tr>
          <td> {{report.total}} </td>
          <td> {{report.supers}} </td>
          <td> {{report.nationals}} </td>
          <td> {{report.memberCount}} </td>
          <td> {{report.adminCount}} </td>
        </tr>

    </tbody>
  </table>
</div>