<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <table class="uk-table">
    <caption>
      Hives to Date
    </caption>
    <form class="uk-form-stacked uk-text-left" action="/maps" method="POST">
      <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
        <p class="uk-text-bold">{{filter}}</p>
        <label><input class="uk-radio" type="radio" name="Super"> Super</label>
        <label><input class="uk-radio" type="radio" name="National"> National</label>
        <label><input class="uk-radio" type="radio" name="All"> All</label>
        
      </div>
      
      <div class="uk-margin uk-text-right">
        <button class="submit uk-button uk-button-primary uk-button-small uk-width-1-1">Filter Hive Catagory</button>
      </div>
    </form>
    <thead class="uk-text-left">
      <th>Hive Number</th>
      <th>Category</th>
      <th>Owner</th>
      <th>select for more info</th>
    </thead>
    <tbody class="uk-text-left">
      {{#each hives}}
      <form class="uk-form-stacked uk-text-left" action="/hive-info" method="POST">
        <tr>
          <td> {{hiveNumber}} </td>
          <td> {{hiveType}} </td>
          <td> {{owner.firstName}} {{owner.lastName}} </td>
          <td>
            <button class="submit uk-button uk-button-primary uk-button-small uk-width-1-1">Select </button>
            <input type="hidden" class="uk-button uk-button-primary" value={{_id}} name="id">
          </td>
        </tr>
      </form>
      {{/each}}
    </tbody>
  </table>
</div>